<div class="center">
  <div style="flex: 1 auto; width: 100%">
    <mat-progress-bar color="accent" mode="query" *ngIf="registrationInProgress"></mat-progress-bar>
  </div>
  <div style="flex: 1 auto">
  <mat-card style="align-self: center; justify-self: center">
    <mat-card-header>
      <mat-icon mat-card-avatar>person_add</mat-icon>
      <mat-card-title>
        {{ 'registration.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>{{ 'registration.fillFormToRegister' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'email.emailAddress' | translate }}</mat-label>
          <input matInput required formControlName="email"/>
          <mat-error *ngIf="email.errors?.required">{{ 'email.emailIsRequired' | translate}}</mat-error>
          <mat-error *ngIf="email.errors?.email">{{ 'email.emailNotValid' | translate }}</mat-error>
        </mat-form-field>
        <div>
          <mat-form-field appearance="outline" [color]="passwordValidator.color">
            <mat-label>{{'password.password' | translate }}</mat-label>
            <mat-pass-toggle-visibility #toggleVisibility matSuffix></mat-pass-toggle-visibility>
            <input matInput #password
                   [type]="toggleVisibility.type" required
                   [formControl]="passwordValidator.passwordFormControl"
                   [placeholder]="'password.password' | translate">
            <mat-hint align="end" aria-live="polite">
              {{password.value.length}} / {{passwordValidator.max}}
            </mat-hint>
            <mat-error *ngIf="passwordValidator.passwordFormControl.errors?.required">
              {{'password.passwordIsRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="passwordValidator.passwordFormControl.errors?.pattern">
              {{'password.passwordNotMeetRequirements' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-password-strength #passwordValidator
                                 [enableSpecialCharRule]="false"
                                 [password]="password.value">
          </mat-password-strength>
          <mat-slide-toggle #toggle>{{ 'password.showPasswordRequirements' | translate }}</mat-slide-toggle>
          <mat-password-strength-info
            *ngIf="toggle.checked"
            [passwordComponent]="passwordValidator"
            [lowerCaseCriteriaMsg]="'password.LOWER_CASE_CRITERIA_MSG' | translate"
            [upperCaseCriteriaMsg]="'password.UPPER_CASE_CRITERIA_MSG'| translate"
            [digitsCriteriaMsg]="'password.DIGITS_CRITERIA_MSG'| translate"
            [specialCharsCriteriaMsg]="'password.SPECIAL_CHARS_CRITERIA_MSG' | translate"
            [minCharsCriteriaMsg]="'password.MIN_CHARS_CRITERIA_MSG' | translate:{value:passwordValidator.min}">
          </mat-password-strength-info>
        </div>
        <div class="captcha">
          <re-captcha formControlName="recaptcha" siteKey="6LctD-0UAAAAANDWMV8Z-3_5nN9PmTXQXmWJcEB6"></re-captcha>
        </div>
        <button class="register-btn" mat-raised-button color="primary"
                [disabled]="registrationForm.invalid || passwordValidator.passwordFormControl.invalid || registered">
          Regisztráció
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
</div>

