mat-form-field {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.login-button-section {
  display: flex;
  flex-direction: column;
}

.or {
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}
