<div id = "wrapper">
  <div class="header">
      <mat-toolbar color="primary" class="header">
        <mat-icon id="cloud-up">cloud_upload</mat-icon>
        <span>{{appName}}</span>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <span>
            <button mat-flat-button color="primary" routerLink="/login">
                <mat-icon>account_circle</mat-icon>
              Bejelentkezés
            </button>
          <button mat-flat-button color="primary" routerLink="/register">
                <mat-icon>how_to_reg</mat-icon>
              Regisztáció
            </button>
        </span>
      </mat-toolbar>
  </div>
  <div class="fill-remaining-space">
    <router-outlet></router-outlet>
  </div>
</div>
