<div id = "wrapper">
  <div class="header">
      <mat-toolbar color="primary" class="header">
        <mat-icon id="cloud-up">cloud_upload</mat-icon>
        <span>FileUpload</span>
        <span class="fill-remaining-space"></span>
        <ng-container *ngIf="isLoggedIn">
          <button mat-flat-button color="primary" (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            {{ 'logout' | translate }}
          </button>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
            <button mat-flat-button color="primary" routerLink="/login">
                <mat-icon>account_circle</mat-icon>
              {{ 'login.logInFormal' | translate }}
            </button>
          <button mat-flat-button color="primary" routerLink="/register">
                <mat-icon>how_to_reg</mat-icon>
            {{ 'registration.title' | translate }}
            </button>
        </ng-container>
      </mat-toolbar>
  </div>
  <div class="fill-remaining-space">
    <router-outlet></router-outlet>
  </div>
</div>
